/*general*/

.desktop {
  width: 1200px;
}

a, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Muli', sans-serif;
  color: #4A4A4A;
}


/*header*/

header {
  width: 100%;
  height: 64px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.logo {
  text-transform: uppercase;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  align-items: center;
  display: flex;
  margin: 0 24px;
}

.logoicon {
  background-image: url("../images/ic-logo.svg");
  background-repeat-x: no-repeat;
  height: 32px;
  width: 30px;
}

.colmar {
  font-weight: 700;
}

.academy {
  color: #9d9d9d;
}

nav {
  margin-left: auto;
}

ul {
  display: flex;
}

li {
  font-family: muli;
  font-size: 18px;
  margin: 0 16px;
}


/*main*/

main {
  background-color: #D8D8D8;
  display: flex;
  justify-content: center;
}

.maincontainer {
  display: flex;
  justify-content: center;
  height: 550px;
}

.picturecontainer {
  width: 60%;
  padding: 32px 24px;
}

.mainpicture {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: right;
  width: 100%;
  height: 100%;
}

.mainmsg {
  width: 40%;
  align-self: center;
  padding: 24px;
  box-sizing: border-box;
}

.mainmsg h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 1.2;
}

.mainmsg h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 20px;
}

.maincta {
  background-color: #4A4A4A;
  font-family: 'Muli', sans-serif;
  padding: 16px;
  color: white;
  font-size: 18px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  width: 60%;
  margin-top: 30px;
}


/*articles*/

.articles {
  display: flex;
  justify-content: center;
}

.articlecontainer {
  display: flex;
  height: 600px
}

.articles-big {
  width: 60%;
  border-right: 1px solid #D8D8D8;
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
}

.articlebigimg {
  background-image: url("../images/information-main.jpg");
  background-size: cover;
  background-position: right;
  height: 66%;
}

.articles-big h2{
  font-size: 32px;
  font-weight: 700;
  margin-top: 32px;
}

.articles-big p {
  margin-top: 24px;
  line-height: 1.2;
  font-weight: 100;
}

.credits {
  font-size: 14px;
}

.articles-small {
  width: 40%;
  padding-top: 16px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.article-small {
  border-bottom: 1px solid #D8D8D8;
  display: flex;
  height: 33%;
}

.article-small-grey {
  display: flex;
  height: 33%;
  background-color: #D8D8D8;
}

.articlesmallimg {
  width: 35%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 16px;
}

.articleinfo {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.articleinfo h3 {
  font-size: 20px;
  font-weight: bold;
}

.articleinfo p {
  margin-top: 15px;
  font-weight: 100;
}

.articleinfo a {
  margin-top: 15px;
  color: #4C91DF;
  display: block;
}

.orient {
  background-image: url("../images/information-orientation.jpg");
}

.campus {
  background-image: url("../images/information-campus.jpg");
}

.guest {
  background-image: url("../images/information-guest-lecture.jpg");
}


/*Start learning*/

.learningcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 32px;
}

.learningcontainer h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 16px;
  width: 100%;
}

.learning {
  background-color: #EAEBEC;
  display: flex;
  justify-content: center;
}

.learn {
  background-image: white;
  max-width: 300px;
  height: 300px;
  background-color: white;
  margin: 16px;
}

.learn h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 16px
}

.learn p {
  margin: 8px 16px;
  line-height: 1.2;
  font-weight: 100;
}

.learnimg {
  width: 100%;
  height: 45%;
  background-size: cover;
}

.software {
  background-image: url("../images/course-software.jpg");
}

.art {
  background-image: url("../images/course-computer-art.jpg");
}

.design {
  background-image: url("../images/course-design.jpg");
}

.data {
  background-image: url("../images/course-data.jpg");
}

.business {
  background-image: url("../images/course-business.jpg");
}

.marketing {
  background-image: url("../images/course-marketing.jpg");
}


/*exhibit*/

.exhibitcontainer {
  display: flex;
}

.exhibit {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.exhibit h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 16px;
  width: 100%;
}

.exhibit h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 24px 0px 8px 0px;
}

.exhibitvideo {
  width: 60%;
  padding: 0 24px;
  margin-top: 16px;
}

.exhibitvideo p {
  margin-bottom: 32px;
}

.exhibitsmallimg {
  width: 35%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 16px;
}

.exhibits-small {
  width: 40%;
  padding-top: 16px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.exhibit-small {
  border-bottom: 1px solid #D8D8D8;
  display: flex;
  height: 33%;
}

.exhibit-small-grey {
  display: flex;
  height: 33%;
  background-color: #D8D8D8;
}

.exhibitinfo {
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
}

.exhibitinfo p {
  margin-top: 15px;
  font-weight: 100;
  font-size: 16px;
}

.fisma {
  background-image: url("../images/thesis-fisma.jpg");
}

.thesis {
  background-image: url("../images/thesis-now-and-then.jpg");
}

/*footer*/
footer {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 100;
  border-top: 1px solid #D8D8D8;
}

.footercontainer {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  margin-bottom: 40px;
}

.footercontainer ul li {
  display: flex;
  font-size: 14px;
  font-weight: 100;
}
